@import './variables';

body {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

::selection {
	background-color: $color-dark-grey;
	color: $color-off-white;
}

a {
	color: inherit;
	text-decoration: inherit;
}

section {
	background-color: $color-dark-grey;
	height: 100vh;
	display: flex;

	.content {
		align-self: center;
		margin: 0 auto;
		max-width: 80%;
		overflow: hidden;
		padding-bottom: 10px;
		transform: translateY(-50px);
		width: 100%;

		h1 {
			display: block;
			font-size: 1.75rem;
			color: $color-off-white;
			width: 100%;
			text-transform: uppercase;
			font-weight: 600;
			letter-spacing: 0.25rem;
			overflow: hidden;
			padding-top: 0.5rem;
			padding-bottom: 0.5rem;

			span {
				display: block;
				transform: translateX(-100%);
				animation: fromBottom 1s ease both;

				&:last-child {
					animation: fromBottom 1s 0.25s ease both;
					font-size: 0.5rem;
					margin-left: 1%;
					background-color: $color-dark-grey;
				}

				a {
					position: relative;
					display: inline-block;
					margin-left: 0.5rem;
					text-decoration: none;
					color: #72a4d4;

					&::after {
						content: "";
						height: 2px;
						background-color: #72a4d4;
						position: absolute;
						bottom: -6px;
						left: 0;
						width: 0;
						animation: linkUnderline 0.5s 1s ease both;
					}
				}
			}
		}

		&.error {
			h1 {
				text-align: center;
			}
		}
	}
}

@import './responsive';
@import './animations';
